<a href="https://colab.research.google.com/github/majorquev/DBDC_202409_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C2/Clase_2_03_mini_taller_soluciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Mini taller 1**
**Autor:** Miguel Jorquera Viguera <br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales<br>
**E-mail ayudante:**  rumorale1@gmail.com<br>


Los dataframes corresponden a uno de los objetos más utilizados en R para analizar datos tabulares,
por lo que se hace necesario en muchos casos realizar consultas a los datos que contiene un dataframe,
(filtros, cruces de tablas, creación de columnas, etc). Por ahora veremos una de las formas más "primitivas" para la manipulación de un data.frame.

Para ello consideremos el siguiente ejercicio.

**Paso 1**
Mediante la función rnorm(), genere una muestra aleatoria de 100 datos , con media 21 y desviación estándar 8 (más adelante veremos esto con un poco más de detalle), y guárdela en una variable llamada temp.

In [ ]:
# 5.3 Mini taller --------
# Paso 1
temp <- rnorm(n = 100, mean = 21, sd = 8)
temp

  [1] 12.428111 24.563973 11.838868 25.849547 14.674231 32.628836 22.174260
  [8] 16.159774 18.450524 28.996479 16.516663  7.458670 12.843495  2.800934
 [15] 29.146220 17.158677 12.711875 31.674859 21.791699 21.707748 14.982491
 [22] 32.706509  5.888410 10.903110 29.148468 15.068168 16.923311 26.755260
 [29] 11.883925 32.360547 15.797388 21.837994 17.679820 16.672446 27.680098
 [36] 10.616194 16.434399 18.297213 30.133851 18.624540 24.372227  4.449183
 [43] 10.623532  6.522650 29.394315 22.832053 28.048073 25.249008 20.379694
 [50]  2.920437 28.733539 35.789871 27.231172 36.036435 23.054402 27.967385
 [57] 28.618350 21.724329 18.181315 13.424437  5.651617 19.730970 29.401290
 [64] 20.687407 32.088939 22.735741 32.293488 21.585066 21.838809 24.508279
 [71] 31.759545 10.855674 37.120199 15.637187 28.870136 10.210351 16.511425
 [78] 22.261365 21.923559 24.928733 31.897642  4.481889 30.446669 15.018596
 [85] 17.806318 19.905821 14.271193 23.272303  8.696560 26.781771 28.829237
 [92] 13.366403 23.680405  2.433932 16.188968 13.817705 12.094709  6.952483
 [99] 11.968059 14.850308

In [ ]:
# Dejar como parámetro el largo del vector temp
N <- length(temp)

**Paso 2**

Genere un vector llamado _dia_ del mismo largo que que *temp*, que contenga los días consecutivos de la semana, partiendo del lunes. (utilice la función _rep()_ )

In [ ]:
# Paso 2
#dia <- rep(c("L","M","W","J","V","S","D"), 100 ) repite el vector de largo7, 100 veces. Genera un vector resultante de largo 700
dia <- rep(c("L","M","W","J","V","S","D"), length.out = N)
length(dia)

[1] 100

**Paso 3**

Genere un vector llamado _est_, del mismo largo que _temp_, que en el primer tercio contenga el valor "E1", en el segundo tercio "E2", y en el tercer tercio "E3". Por ejemplo, si _temp_ tuviese 10 datos, el vector _est_ se vería como


<center>  _est_ = (E1,E1,E1,E2,E2,E2,E3,E3,E3,E3) </center>

In [ ]:
# Paso 3
est <- rep(c("E1","E2","E3"),times = c(33,33,34))
est
length(est)

  [1] "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1"
 [16] "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1" "E1"
 [31] "E1" "E1" "E1" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2"
 [46] "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2" "E2"
 [61] "E2" "E2" "E2" "E2" "E2" "E2" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3"
 [76] "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3"
 [91] "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3" "E3"

[1] 100

,**Paso 4**

Genere un vector llamado _lluvia_ del mismo largo que _temp_, que sea TRUE en las posiciones en que _temp_ sea menor que 20, y FALSE en caso contrario.

In [ ]:
# Paso 4
lluvia <- temp < 20
lluvia

  [1]  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE FALSE  TRUE  TRUE
 [13]  TRUE  TRUE FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE
 [25] FALSE  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE
 [37]  TRUE  TRUE FALSE  TRUE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE
 [49] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE
 [61]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
 [73] FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE
 [85]  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE  TRUE  TRUE
 [97]  TRUE  TRUE  TRUE  TRUE

**Paso 5**

Finalmente cree un data frame llamado _precipitaciones_ con las siguientes columnas:<br>

*Dia_semana* (con los valores del vector _dia_)<br>
*Temperatura* (con los valores del vector _temp_)<br>
*Llueve* (con los valores del vector _lluvia_)<br>
*Estacion* (con los valores del vector _est_)<br>

In [ ]:
# Paso 5
precipitaciones <- data.frame(Dia_semana = dia
                             ,Temperatura = temp
                             ,Llueve = lluvia
                             ,Estacion = est)

In [ ]:
head(precipitaciones)

  Dia_semana Temperatura Llueve Estacion
1 L          12.42811     TRUE  E1
2 M          24.56397    FALSE  E1
3 W          11.83887     TRUE  E1
4 J          25.84955    FALSE  E1
5 V          14.67423     TRUE  E1
6 S          32.62884    FALSE  E1

In [ ]:
head(precipitaciones,15)

   Dia_semana Temperatura Llueve Estacion
1  L          12.428111    TRUE  E1
2  M          24.563973   FALSE  E1
3  W          11.838868    TRUE  E1
4  J          25.849547   FALSE  E1
5  V          14.674231    TRUE  E1
6  S          32.628836   FALSE  E1
7  D          22.174260   FALSE  E1
8  L          16.159774    TRUE  E1
9  M          18.450524    TRUE  E1
10 W          28.996479   FALSE  E1
11 J          16.516663    TRUE  E1
12 V           7.458670    TRUE  E1
13 S          12.843495    TRUE  E1
14 D           2.800934    TRUE  E1
15 L          29.146220   FALSE  E1

In [ ]:
tail(precipitaciones)

    Dia_semana Temperatura Llueve Estacion
95  J          16.188968   TRUE   E3
96  V          13.817705   TRUE   E3
97  S          12.094709   TRUE   E3
98  D           6.952483   TRUE   E3
99  L          11.968059   TRUE   E3
100 M          14.850308   TRUE   E3

In [ ]:
tail(precipitaciones,15)

    Dia_semana Temperatura Llueve Estacion
86  M          19.905821    TRUE  E3
87  W          14.271193    TRUE  E3
88  J          23.272303   FALSE  E3
89  V           8.696560    TRUE  E3
90  S          26.781771   FALSE  E3
91  D          28.829237   FALSE  E3
92  L          13.366403    TRUE  E3
93  M          23.680405   FALSE  E3
94  W           2.433932    TRUE  E3
95  J          16.188968    TRUE  E3
96  V          13.817705    TRUE  E3
97  S          12.094709    TRUE  E3
98  D           6.952483    TRUE  E3
99  L          11.968059    TRUE  E3
100 M          14.850308    TRUE  E3

In [ ]:
summary(precipitaciones)

  Dia_semana         Temperatura       Llueve          Estacion
 Length:100         Min.   : 2.434   Mode :logical   Length:100
 Class :character   1st Qu.:13.719   FALSE:50        Class :character
 Mode  :character   Median :20.143   TRUE :50        Mode  :character
                    Mean   :19.949
                    3rd Qu.:27.343
                    Max.   :37.120

#### Strings como factores
Cuando en R se declara una variable como factor, internamente se codifican sus categorías con valores 0 o 1. Por ejemplo, para las variables _Dia_ y _Estacion_ podemos generar sus matriz de diseño, indicando un 1 si el día (o estación) corresponde a la nueva columna generada, 0 si  no:

 |Dia |Temperatura    |Llueve| Estacion| | Dia.L|Dia.M|Dia.W|Dia.J|Dia.V|Dia.S|Dia.D|Est.1|Est.2|Est.3|
 |----|------------   |------|---------| |---   |---  |---  |---  |---  |---  |---  |---  |---  |---  |
 |L	  |16.300201      |TRUE  |	E1     | |1     |0    |0    |0    |0    |0    |0    |1    |0    |0    |
 |M   |21.042854      |FALSE |	E1     | |0     |1    |0    |0    |0    |0    |0    |1    |0    |0    |
 |J	  |31.256043      |FALSE |	E3     | |0     |0    |0    |1    |0    |0    |0    |0    |0    |1    |
 |S	  |40.083514      |FALSE |	E3     | |0     |0    |0    |0    |0    |1    |0    |0    |0    |1    |

 Cuando se quiere generar un resumen de una variable categórica, o cuando se quiere incluir una variable de este tipo en el entrenamiento de un modelo será necesario declarar dicha variable como factor.

In [ ]:
#podemos volver a coercionar las columnas a clase factor,  con la función as.factor
precipitaciones$Dia_semana <- as.factor(precipitaciones$Dia_semana)
precipitaciones$Estacion <- as.factor(precipitaciones$Estacion)

In [ ]:
head(precipitaciones)

  Dia_semana Temperatura Llueve Estacion
1 L          12.42811     TRUE  E1
2 M          24.56397    FALSE  E1
3 W          11.83887     TRUE  E1
4 J          25.84955    FALSE  E1
5 V          14.67423     TRUE  E1
6 S          32.62884    FALSE  E1

In [ ]:
summary(precipitaciones)

 Dia_semana  Temperatura       Llueve        Estacion
 D:14       Min.   : 2.434   Mode :logical   E1:33
 J:14       1st Qu.:13.719   FALSE:50        E2:33
 L:15       Median :20.143   TRUE :50        E3:34
 M:15       Mean   :19.949
 S:14       3rd Qu.:27.343
 V:14       Max.   :37.120
 W:14

In [ ]:
levels(precipitaciones$Dia_semana)

[1] "D" "J" "L" "M" "S" "V" "W"

In [ ]:
precipitaciones$Dia_semana <- as.character(precipitaciones$Dia_semana)
precipitaciones$Estacion <- as.character(precipitaciones$Estacion)

In [ ]:
head(precipitaciones)

  Dia_semana Temperatura Llueve Estacion
1 L          12.42811     TRUE  E1
2 M          24.56397    FALSE  E1
3 W          11.83887     TRUE  E1
4 J          25.84955    FALSE  E1
5 V          14.67423     TRUE  E1
6 S          32.62884    FALSE  E1

In [ ]:
# Un poco de exploración --------------------------------
# ¿Cuál es la temperatura promedio cuando llovió?
mean(precipitaciones[precipitaciones$Llueve == TRUE,"Temperatura" ])
mean(precipitaciones[precipitaciones$Llueve == TRUE,]$Temperatura)
mean(precipitaciones[precipitaciones$Llueve,]$Temperatura)# En este caso en particular

[1] 12.7877

[1] 12.7877

[1] 12.7877

In [ ]:
# ¿Cuál es la temperatura promedio cuando NO llovió?
mean(precipitaciones[!precipitaciones$Llueve == TRUE,"Temperatura" ])
mean(precipitaciones[precipitaciones$Llueve == FALSE,"Temperatura" ])
mean(precipitaciones[!precipitaciones$Llueve,"Temperatura" ])
#Lo mismo pero sólo de los registros de E1

[1] 27.10996

[1] 27.10996

[1] 27.10996

In [ ]:
# ¿Qué día era cuando se alcanzó la mínima temperatura?¿y la ,máxima?
#La función which.min #o .max . retorna la posición donde se alcanza el min/max de un vector.

# opcion 1
fila_min_temp <- which.min(precipitaciones$Temperatura)
precipitaciones[fila_min_temp, "Dia_semana"]


# opcion 2
precipitaciones[fila_min_temp, ]$Dia_semana
precipitaciones$Dia_semana[fila_min_temp]

[1] "W"

[1] "W"

[1] "W"

In [ ]:
# Una forma de eliminar registros en vector
ej <- c(7,8,9) #Eliminar la pos 2

ej

[1] 7 8 9

In [ ]:
str(precipitaciones)

'data.frame':	100 obs. of  4 variables:
 $ Dia_semana : chr  "L" "M" "W" "J" ...
 $ Temperatura: num  12.4 24.6 11.8 25.8 14.7 ...
 $ Llueve     : logi  TRUE FALSE TRUE FALSE TRUE FALSE ...
 $ Estacion   : chr  "E1" "E1" "E1" "E1" ...

In [ ]:
ej[-c(1,3)] # eliminando la 1  y la 3

[1] 8

In [ ]:
# POdemos eliminar los registros de posición 3 y 4
precipitaciones[-c(3,4),]
precipitaciones[-(3:4),]

    Dia_semana Temperatura Llueve Estacion
1   L          12.428111    TRUE  E1
2   M          24.563973   FALSE  E1
5   V          14.674231    TRUE  E1
6   S          32.628836   FALSE  E1
7   D          22.174260   FALSE  E1
8   L          16.159774    TRUE  E1
9   M          18.450524    TRUE  E1
10  W          28.996479   FALSE  E1
11  J          16.516663    TRUE  E1
12  V           7.458670    TRUE  E1
13  S          12.843495    TRUE  E1
14  D           2.800934    TRUE  E1
15  L          29.146220   FALSE  E1
16  M          17.158677    TRUE  E1
17  W          12.711875    TRUE  E1
18  J          31.674859   FALSE  E1
19  V          21.791699   FALSE  E1
20  S          21.707748   FALSE  E1
21  D          14.982491    TRUE  E1
22  L          32.706509   FALSE  E1
23  M           5.888410    TRUE  E1
24  W          10.903110    TRUE  E1
25  J          29.148468   FALSE  E1
26  V          15.068168    TRUE  E1
27  S          16.923311    TRUE  E1
28  D          26.755260   FALSE  E1
29  L          11.883925    TRUE  E1
30  M          32.360547   FALSE  E1
31  W          15.797388    TRUE  E1
32  J          21.837994   FALSE  E1
⋮   ⋮          ⋮           ⋮      ⋮
71  L          31.759545   FALSE  E3
72  M          10.855674    TRUE  E3
73  W          37.120199   FALSE  E3
74  J          15.637187    TRUE  E3
75  V          28.870136   FALSE  E3
76  S          10.210351    TRUE  E3
77  D          16.511425    TRUE  E3
78  L          22.261365   FALSE  E3
79  M          21.923559   FALSE  E3
80  W          24.928733   FALSE  E3
81  J          31.897642   FALSE  E3
82  V           4.481889    TRUE  E3
83  S          30.446669   FALSE  E3
84  D          15.018596    TRUE  E3
85  L          17.806318    TRUE  E3
86  M          19.905821    TRUE  E3
87  W          14.271193    TRUE  E3
88  J          23.272303   FALSE  E3
89  V           8.696560    TRUE  E3
90  S          26.781771   FALSE  E3
91  D          28.829237   FALSE  E3
92  L          13.366403    TRUE  E3
93  M          23.680405   FALSE  E3
94  W           2.433932    TRUE  E3
95  J          16.188968    TRUE  E3
96  V          13.817705    TRUE  E3
97  S          12.094709    TRUE  E3
98  D           6.952483    TRUE  E3
99  L          11.968059    TRUE  E3
100 M          14.850308    TRUE  E3

    Dia_semana Temperatura Llueve Estacion
1   L          12.428111    TRUE  E1
2   M          24.563973   FALSE  E1
5   V          14.674231    TRUE  E1
6   S          32.628836   FALSE  E1
7   D          22.174260   FALSE  E1
8   L          16.159774    TRUE  E1
9   M          18.450524    TRUE  E1
10  W          28.996479   FALSE  E1
11  J          16.516663    TRUE  E1
12  V           7.458670    TRUE  E1
13  S          12.843495    TRUE  E1
14  D           2.800934    TRUE  E1
15  L          29.146220   FALSE  E1
16  M          17.158677    TRUE  E1
17  W          12.711875    TRUE  E1
18  J          31.674859   FALSE  E1
19  V          21.791699   FALSE  E1
20  S          21.707748   FALSE  E1
21  D          14.982491    TRUE  E1
22  L          32.706509   FALSE  E1
23  M           5.888410    TRUE  E1
24  W          10.903110    TRUE  E1
25  J          29.148468   FALSE  E1
26  V          15.068168    TRUE  E1
27  S          16.923311    TRUE  E1
28  D          26.755260   FALSE  E1
29  L          11.883925    TRUE  E1
30  M          32.360547   FALSE  E1
31  W          15.797388    TRUE  E1
32  J          21.837994   FALSE  E1
⋮   ⋮          ⋮           ⋮      ⋮
71  L          31.759545   FALSE  E3
72  M          10.855674    TRUE  E3
73  W          37.120199   FALSE  E3
74  J          15.637187    TRUE  E3
75  V          28.870136   FALSE  E3
76  S          10.210351    TRUE  E3
77  D          16.511425    TRUE  E3
78  L          22.261365   FALSE  E3
79  M          21.923559   FALSE  E3
80  W          24.928733   FALSE  E3
81  J          31.897642   FALSE  E3
82  V           4.481889    TRUE  E3
83  S          30.446669   FALSE  E3
84  D          15.018596    TRUE  E3
85  L          17.806318    TRUE  E3
86  M          19.905821    TRUE  E3
87  W          14.271193    TRUE  E3
88  J          23.272303   FALSE  E3
89  V           8.696560    TRUE  E3
90  S          26.781771   FALSE  E3
91  D          28.829237   FALSE  E3
92  L          13.366403    TRUE  E3
93  M          23.680405   FALSE  E3
94  W           2.433932    TRUE  E3
95  J          16.188968    TRUE  E3
96  V          13.817705    TRUE  E3
97  S          12.094709    TRUE  E3
98  D           6.952483    TRUE  E3
99  L          11.968059    TRUE  E3
100 M          14.850308    TRUE  E3

In [ ]:
# Se sabe que la Estación E3 falla todos los días domingo, por lo que se quiere eliminar tales registros de la tabla. Elimínelos!
precipitaciones[!(precipitaciones$Estacion == "E3" & precipitaciones$Dia_semana == "D"),]



dim(precipitaciones)

    Dia_semana Temperatura Llueve Estacion
1   L          12.428111    TRUE  E1
2   M          24.563973   FALSE  E1
3   W          11.838868    TRUE  E1
4   J          25.849547   FALSE  E1
5   V          14.674231    TRUE  E1
6   S          32.628836   FALSE  E1
7   D          22.174260   FALSE  E1
8   L          16.159774    TRUE  E1
9   M          18.450524    TRUE  E1
10  W          28.996479   FALSE  E1
11  J          16.516663    TRUE  E1
12  V           7.458670    TRUE  E1
13  S          12.843495    TRUE  E1
14  D           2.800934    TRUE  E1
15  L          29.146220   FALSE  E1
16  M          17.158677    TRUE  E1
17  W          12.711875    TRUE  E1
18  J          31.674859   FALSE  E1
19  V          21.791699   FALSE  E1
20  S          21.707748   FALSE  E1
21  D          14.982491    TRUE  E1
22  L          32.706509   FALSE  E1
23  M           5.888410    TRUE  E1
24  W          10.903110    TRUE  E1
25  J          29.148468   FALSE  E1
26  V          15.068168    TRUE  E1
27  S          16.923311    TRUE  E1
28  D          26.755260   FALSE  E1
29  L          11.883925    TRUE  E1
30  M          32.360547   FALSE  E1
⋮   ⋮          ⋮           ⋮      ⋮
66  W          22.735741   FALSE  E2
67  J          32.293488   FALSE  E3
68  V          21.585066   FALSE  E3
69  S          21.838809   FALSE  E3
71  L          31.759545   FALSE  E3
72  M          10.855674    TRUE  E3
73  W          37.120199   FALSE  E3
74  J          15.637187    TRUE  E3
75  V          28.870136   FALSE  E3
76  S          10.210351    TRUE  E3
78  L          22.261365   FALSE  E3
79  M          21.923559   FALSE  E3
80  W          24.928733   FALSE  E3
81  J          31.897642   FALSE  E3
82  V           4.481889    TRUE  E3
83  S          30.446669   FALSE  E3
85  L          17.806318    TRUE  E3
86  M          19.905821    TRUE  E3
87  W          14.271193    TRUE  E3
88  J          23.272303   FALSE  E3
89  V           8.696560    TRUE  E3
90  S          26.781771   FALSE  E3
92  L          13.366403    TRUE  E3
93  M          23.680405   FALSE  E3
94  W           2.433932    TRUE  E3
95  J          16.188968    TRUE  E3
96  V          13.817705    TRUE  E3
97  S          12.094709    TRUE  E3
99  L          11.968059    TRUE  E3
100 M          14.850308    TRUE  E3

[1] 100   4

In [ ]:
posiciones_eliminar<-which(precipitaciones[,"Estacion"]=="E3"& precipitaciones[,"Dia_semana"]=="D")
posiciones_eliminar
precipitaciones[-posiciones_eliminar,]

[1] 70 77 84 91 98

    Dia_semana Temperatura Llueve Estacion
1   L          12.428111    TRUE  E1
2   M          24.563973   FALSE  E1
3   W          11.838868    TRUE  E1
4   J          25.849547   FALSE  E1
5   V          14.674231    TRUE  E1
6   S          32.628836   FALSE  E1
7   D          22.174260   FALSE  E1
8   L          16.159774    TRUE  E1
9   M          18.450524    TRUE  E1
10  W          28.996479   FALSE  E1
11  J          16.516663    TRUE  E1
12  V           7.458670    TRUE  E1
13  S          12.843495    TRUE  E1
14  D           2.800934    TRUE  E1
15  L          29.146220   FALSE  E1
16  M          17.158677    TRUE  E1
17  W          12.711875    TRUE  E1
18  J          31.674859   FALSE  E1
19  V          21.791699   FALSE  E1
20  S          21.707748   FALSE  E1
21  D          14.982491    TRUE  E1
22  L          32.706509   FALSE  E1
23  M           5.888410    TRUE  E1
24  W          10.903110    TRUE  E1
25  J          29.148468   FALSE  E1
26  V          15.068168    TRUE  E1
27  S          16.923311    TRUE  E1
28  D          26.755260   FALSE  E1
29  L          11.883925    TRUE  E1
30  M          32.360547   FALSE  E1
⋮   ⋮          ⋮           ⋮      ⋮
66  W          22.735741   FALSE  E2
67  J          32.293488   FALSE  E3
68  V          21.585066   FALSE  E3
69  S          21.838809   FALSE  E3
71  L          31.759545   FALSE  E3
72  M          10.855674    TRUE  E3
73  W          37.120199   FALSE  E3
74  J          15.637187    TRUE  E3
75  V          28.870136   FALSE  E3
76  S          10.210351    TRUE  E3
78  L          22.261365   FALSE  E3
79  M          21.923559   FALSE  E3
80  W          24.928733   FALSE  E3
81  J          31.897642   FALSE  E3
82  V           4.481889    TRUE  E3
83  S          30.446669   FALSE  E3
85  L          17.806318    TRUE  E3
86  M          19.905821    TRUE  E3
87  W          14.271193    TRUE  E3
88  J          23.272303   FALSE  E3
89  V           8.696560    TRUE  E3
90  S          26.781771   FALSE  E3
92  L          13.366403    TRUE  E3
93  M          23.680405   FALSE  E3
94  W           2.433932    TRUE  E3
95  J          16.188968    TRUE  E3
96  V          13.817705    TRUE  E3
97  S          12.094709    TRUE  E3
99  L          11.968059    TRUE  E3
100 M          14.850308    TRUE  E3

In [ ]:
precipitaciones[(precipitaciones$Estacion != "E3") | (precipitaciones$Dia_Semana != "D"),] # Pendiente

     Dia_semana Temperatura Llueve Estacion

In [ ]:
precipitaciones <- precipitaciones[-posiciones_eliminar,]

In [ ]:
dim(precipitaciones)

[1] 95  4

## 5.4 Cómo guardar ambiente de trabajo o variables definidas en el

### Directorio de trabajo

El directorio de trabajo corresponde a la ubicación en el sistema de archivos, desde donde la sesión de R podrá acceder directamente para guardar o cargar datos.

In [ ]:
# para saber en qué directorio se está trabajando
getwd()

[1] "/content"

In [ ]:
# para cambiar el directorio de trabajo
setwd("./sample_data")

In [ ]:
getwd()

[1] "/content/sample_data"

### Formato rds

Una manera de guardar variables creadas en el ambiente de la sessión de R, es mediante la utilización del formato *.rds. Este formato permite guardar los objetos declarados y leerlos rápidamente en cualquier otra sesión que se inicie posteriormente. Es últil por ejemplo para guardar en disco modelos entrenados para ser utilizados para predicciones futuras.

In [ ]:
# Función saveRDS() # Guardar
# guarde en el directorio actual el dataframe _precipitaciones_
saveRDS(precipitaciones,"prep_data.rds")

In [ ]:
saveRDS(temp,"../prep_data2.rds")

In [ ]:
write.csv(precipitaciones,"prep_data.csv")

In [ ]:
# readRDS()  Leer, pero ojo que es necesario asignar  a una variable
prep2 <- readRDS("../prep_data2.rds")

In [ ]:
head(prep2)

[1] 12.42811 24.56397 11.83887 25.84955 14.67423 32.62884

### Formato RData

Cuando se quiere guardar el ambiente de trabajo completo, o bien un mayor número de objetos ya creados, se puede utilizar la función _save_

In [ ]:
# Función save para guardar uno o más objetos del ambiente.

save(temp,precipitaciones,dia, file = "../ambiente1.RData")

In [ ]:
rm(list = ls())

In [ ]:
temp

ERROR: ignored

In [ ]:
# Eventualmente podemos "cargar " a sesión, con la función load()
load("../ambiente1.RData")

In [ ]:
ls()

[1] "dia"             "precipitaciones" "temp"