<a href="https://colab.research.google.com/github/majorquev/DBDC_202409_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [6]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.

log(8)
round(7.56287,3)

[1] 2.079442

[1] 7.563

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [28]:
# Podemos definir distintas variables
x <- 5.6
y <- 8
a <- "hola"
no_fecha <- "2024-09-10"
lg <- TRUE # FALSE

In [8]:
x

[1] 5.6

In [12]:
typeof(x)
typeof(y)

[1] "double"

[1] "double"

In [13]:
x+y

[1] 13.6

In [19]:
typeof(a)

[1] "character"

In [22]:
no_fecha

[1] "2024-09-10"

In [18]:
TRUE
FALSE

[1] TRUE

[1] FALSE

In [ ]:
# Conectores lógicos (logical)
# conector lógicos ( & es el "y", | es el "o" )

In [24]:
TRUE & FALSE
TRUE | FALSE

[1] FALSE

[1] TRUE

In [30]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="
1+1 == 2
1+1 == 3
a == "Holas"
a

[1] TRUE

[1] FALSE

[1] FALSE

[1] "hola"

In [39]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 2
3 != 3

[1] TRUE

[1] FALSE

In [44]:
# en general "!" se utiliza como la negación lógica
!(TRUE | FALSE)

[1] FALSE

In [48]:
# podemos realizar comparaciones aritméticas
4 >= -5
3 <= 3

5 > 8
5 < 5

[1] TRUE

[1] TRUE

[1] FALSE

[1] FALSE

In [51]:
# NOTA: Podemos asignar con la flechita en los dos sentidos
variables <- log(3) + 50

factorial(7)/8 + 1 -> variable2

variables
variable2

[1] 51.09861

[1] 631

In [55]:
# NOTA:valor infinito
Inf
Inf + Inf
Inf*0
1/Inf

[1] Inf

[1] Inf

[1] NaN

[1] 0

In [57]:
# date
no_fecha # No es de tipo fecha si no que es un string (character)
typeof(no_fecha)

[1] "2024-09-10"

[1] "character"

In [59]:
# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable
class(no_fecha)
# class(x)

[1] "character"

[1] "numeric"

In [62]:
# coercionamos a clase date
fecha <- as.Date(no_fecha)
fecha

[1] "2024-09-10"

In [64]:
class(no_fecha)
class(fecha)

[1] "character"

[1] "Date"

In [78]:
# Y si tenemos otro formato?

as.Date("10--09/2024",format = "%d--%m/%Y")

[1] "2024-09-10"

In [77]:
?as.Date

In [66]:
fecha + 30

[1] "2024-10-10"

In [70]:
class(1L)
class(1)

[1] "integer"

[1] "numeric"

In [75]:
typeof(1)
typeof(1L)

[1] "double"

[1] "integer"

[1] 11.5

In [84]:
# Observación: Inmutabilidad de variables en R.
v1 <- 10
v2 <- v1 + 1

In [81]:
v1
v2

[1] 10

[1] 11

In [85]:
v1 <- 11

In [87]:
# ¿Qué valor tiene v2?
v2
# en R las asignaciones por defecto se realizan por valor y no por referencia.

v2 <- v1 + 1
v2

[1] 11

[1] 12

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [88]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

 [1] "a"         "b"         "fecha"     "lg"        "no_fecha"  "v1"
 [7] "v2"        "variable2" "variables" "x"         "y"

In [89]:
# remueva algunas de las variables generadas anteriormente
rm(no_fecha) # Si removemos solo un objeto/variable

In [90]:
ls()

 [1] "a"         "b"         "fecha"     "lg"        "v1"        "v2"
 [7] "variable2" "variables" "x"         "y"

In [91]:
no_fecha

ERROR: Error in eval(expr, envir, enclos): object 'no_fecha' not found

In [93]:
rm(list = c("fecha","a","v1"))

In [94]:
ls()

[1] "b"         "lg"        "v2"        "variable2" "variables" "x"
[7] "y"

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [96]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA # (Not available),  Blank de excel , NULL de SQL
NaN # Not a number, en particular son NA, pero provienen de alguna operacion  aritmetica.
NULL # Hace referencia a objetos vacíos.

[1] NA

[1] NaN

[1] NaN

In [97]:
0/0
Inf*0

[1] NaN

[1] NaN

In [100]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
rut <- "123-8"

In [ ]:
rut == "123-8"

In [101]:
rut == NA

[1] NA

In [102]:
NA == NA

[1] NA

In [104]:
is.na(rut) # En vez de rut == NA
is.na(NA)

[1] FALSE

[1] TRUE

In [106]:
is.nan(NaN)
is.na(NaN)

[1] TRUE

[1] TRUE

In [107]:
is.nan(NA)

[1] FALSE