<a href="https://colab.research.google.com/github/majorquev/DBDC_202409_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_02_vectores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## 3. Vectores y matrices

### 3.1 Vectores

En R, así como en la mayoría de los lenguajes de programación, uno de los objetos más usuales para almacenar información son los vectores, los que corresponden a arreglos unidimensionales que almacenan un mismo tipo de dato en cada una de sus entradas.

Todo vector en R se puede declarar con la letra "c" seguido de los elementos que lo componen entre paréntesis y separados por comas.

In [14]:
# Declaración de dos vectores
v1 <- c(1,1,2,3,5,8)
v2 <- c(60,70)
v3 <- c("hola", "soy", "miguel")
v4 <- c(T, TRUE, FALSE, F) # NOTA para R TRUE/FALSE es los mismo que T/F
v5 <- c(entrada_1 = 50, n2 = 40, cosa3 = 100)

In [3]:
v1
v3

[1] 1 1 2 3 5 8

[1] "hola"   "soy"    "miguel"

In [6]:
# clase y tipo de dato
typeof(v1)
typeof(v3)

class(v1)
class(v3)

[1] "double"

[1] "character"

[1] "numeric"

[1] "character"

In [15]:
v5

entrada_1        n2     cosa3
       50        40       100

In [16]:
# Nombres de las entradas de un vector

names(v5)

[1] "entrada_1" "n2"        "cosa3"

[1] TRUE

In [17]:
# podemos asignar los nombres a vector 1
# nombres de las entradas con la función, names()
names(v2)

NULL

In [18]:
names(v2) <- c("nombre1","nombre2")

In [19]:
v2

nombre1 nombre2
     60      70

In [20]:
names(v2)

[1] "nombre1" "nombre2"

In [23]:
#combinar vectores
# c : es una abreviación de "combine"
v6 <- c(v2,v5)
v6

  nombre1   nombre2 entrada_1        n2     cosa3
       60        70        50        40       100

In [24]:
# Largo de un vector
length(v6)

[1] 5

#### 3.1.1 Acceso a los elementos de un vector

El acceso a los elementos de un vector se puede llevar acabo indicando la posición del elemento (los naturales parten en 1!), el nombre de la casilla que lo contiene, o bien mediante sentencias lógicas que retornen "TRUE" en la posición deseada.

In [25]:
# Mediante posición
# NOTA: R cuenta los arreglos desde la posición 1. No desde el "0" como python.
v1

[1] 1 1 2 3 5 8

In [26]:
# Acceder al elemento de posición 4.
v1[4]

[1] 3

In [27]:
# retorna los elementos de las casillas 1 y 4 de v1
# En vez de referenciar un número con la posición, refereciamos a un vector con los números de las posiciones

v1[c(1,4)]

[1] 1 3

In [28]:
# NOTA: No aplica para vectores. (NO HACERLO ASI)
v1[1,4]

ERROR: Error in v1[1, 4]: incorrect number of dimensions

In [31]:
#NOTA 3:5, R lo interpreta como c(3,4,5)
# En vez de esto: v1[c(3,4,5)]
v1[3:5]

[1] 2 3 5

In [32]:
v5

entrada_1        n2     cosa3
       50        40       100

In [33]:
# podemos acceder a los elmentos mediante el nombre
v5["cosa3"]

cosa3
  100

In [34]:
v5[c("cosa3", "entrada_1")]

    cosa3 entrada_1
      100        50

In [37]:
# cambiar una entrada de un vector o cambiar un nombre
# Quiero cambiar el elemento de pos 6 por un 99.
v1[6] <- 99

In [38]:
v1

[1]  1  1  2  3  5 99

In [41]:
# podemos cambiar uno de los nombres (ej, queremos cambiar el segundo nombre de v5, por "second_el")
v5

entrada_1        n2     cosa3
       50        40       100

In [44]:
names(v5)[2] <- "second_el"

In [48]:
v5

entrada_1 second_el     cosa3
       50        40       100

In [46]:
v6

  nombre1   nombre2 entrada_1        n2     cosa3
       60        70        50        40       100

In [50]:
# podemos modificar varias posiciones a la vez
# Ej: cambiar el segundo y cuarto elemento de v6 por -88 y -99 respectivamente

v6[c(2,4)] <- c(-88,-99)

In [51]:
v6

  nombre1   nombre2 entrada_1        n2     cosa3
       60       -88        50       -99       100

**Algunas sentencias de utilidad**

También es posible acceder a los alementos de un vector mediante sentencias lógicas que retornen "TRUE" en la posición deseada. Para ello algunas funciones que son de utilidad son las siguientes.

   **Conectores lógicos**

    &, && |                  : conector y
    |,||                     : conector o
    ==                       : igual
    !                        : negación
    !=                       : distinto
    >, >=                    : mayor que, mayor o igual que
    <,<=                     : menor que, menor o igual que
    is.na()                  : es NA?
    which()                  : en qué posición es verdadera la expresión evaluada?
    which.min(), which.max() : en qué posición se alcanza el mínimi/máximo
    %in%                     : los elementos están en?

In [ ]:
# para acceder a elementos de un vector tenemos:
# 1. por posicion
# 2. por nombre
# 3. por indicatrices lógicas (un vector con TRUE (T) o FALSE (F) del mismo largo del que quiero consultar)

In [ ]:
# Esto facilita la búsqueda dentro de un un vector. Ej: retornar los elementos mayores aun valor dado

In [ ]:
# con esta idea en mente podríamos, por ejemplo, rescatar las edades con valor mayor o igual a 18 años

In [ ]:
# podríamos guardar el vector de T o F's en una variable para luego referenciarla

In [ ]:
#?which.max
#podemos rescatar el valor mediante el índice guardado

In [ ]:
# Operador %in%
# vector_a %in% vector_b (qué elementos del vector a están en el vector b)
# retorna un  vector de TRUE's y FALSE's del largo del primer vector(a) (izquierda)

In [ ]:
# podemos utilizar la función all() para evaluar si todos los elementos de un vector son TRUE.

In [ ]:
# si quisiéramos evaluar que todos los elementos de la izq. estén en la derecha,
# podemos utilizar la función all().

In [ ]:
# aritmética con vectores
# operación de vectore de igual largo

In [ ]:
#ponderaciones por escalares

In [ ]:
#CUIDADO: Si se operan vectores de dstinto largo se reciclan los valores del vector más pequeño

In [ ]:
# NOTA:
# podemos determinar el largo de un vector mediante la función length()

**Secuencias**

En R es posible generar de manera rápida y sencilla algunas secuencias numéricas y almacenarlas en un vector.

Ejemplo de estas funciones son :

    rep()
    seq()
    
Más adelante veremos como generar números aleatorios siguiendo alguna función de distribución de interés.

In [ ]:
# a vimos que fácilmente ppodemos generar vectores de enteros consecutivos vía ":"

In [ ]:
# Ejemplo de secuencia con rep (utilice distintos tipos de datos)

In [ ]:
# podemos controlar el largo del vector resultante con el parámetro length.out

In [ ]:
# ejemplo de función seq (utilice argumento by, y otro ejemplo con argumento length.out)

In [ ]:
# ejemplo de vector aleatorio siguiendo una determinada distribución

# distribución uniforme
# distribución normal

### 3.2 Funciones (primera parte)

#### 3.2.1 Funciones vectorizadas y operaciones con vectores

R es un lenguaje funcional, en el sentido de que prácticamente cada llamada a R corresponde a una función que puede (o no) recibir argumentos de entrada.
Una de las ventajas es que existe una amplia, muy amplia,... verdaderamente amplia!, variedad de funciones disponibles, tanto en las librerías que vienen con la instalación por defecto como las librerías disponibles en CRAN o en toda la comunidad R.

En R, una función $f$ se dice vectorizada si dado un vector $\mathbf{x}=(x_1,x_2,\dots,x_n)$, se tiene que $f(\mathbf{x})=(f(x_1),f(x_2),\dots,f(x_n))$.
Esto hace que, por ejemplo, la aritmética de vectores se más sencilla de implentar y con un menor tiempo de cómputo . Gran parte de las funciones disponibles en la librerías (bibliotecas o *packages*) de R corresponden a funciones vectorizadas.
A modo de ejemplo, a cotinuación se muestran algunas funciones (de las más básicas) aritméticas, y funciones para trabajar con texto:
    
    +,-,*,/
    abs()
    sqrt()
    cos()
    sin()
    tan()
    nchar()
    susbtr()
    grepl()
    gsub()

In [ ]:
# 3.2. Funciones (primera parte) ------------
# 3.2.1 Funciones vectorizadas
# Ejemplos básicos de funciones(vectorizadas)

In [ ]:
# funciones para manipular texto
 #cantidad de caracteres

In [ ]:
# substring substr()

In [ ]:
# grepl() evlaúa si un  caracter está contenido en otro. (LIKE)
#?grepl()
grepl("ala", "palabra")
grepl("alo", "palabra")


#gsub() reemblaza un substring por otro
#?gsub

# si reemplazamos en un vector de palabras

In [ ]:
#gsub() reemplaza caracteres dentro de un texto
#https://www.tidytextmining.com/